<h1>Add a home</h1>
<p>Add a home here:</p>
<form action="/create_home" method="post">
  <label for="home-name">Home name</label>
  <input id="home-name" name="home-name" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back to Home Page</a></p>
