@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Create your Tamagotchi</h2>
<p>Its a cat.</p>

<form action="/" method="post">
  <label for="TamagotchiName">Name your cat!</label>
  <input id="TamagotchiName" name="TamagotchiName">
  <button type="submit" name="submit">Name IT!</button>
</form>
