<h3>Nursery</h3>

<p>Use these to take care of your pet:</p>

<form name="care" action="/show_pet" method="post">
  <div class="radio">
    <label>
      <input type="radio" name="care" value="f-3">
      Feed Meat (+3)
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="care" value="f-1">
      Dry-Food (+1)
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="care" value="h-3">
      Pet with a brush (+3)
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="care" value="h-1">
      Pet with your hand (+1)
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="care" value="h-2">
      Give a mouse (+2)
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="care" value="h-4">
      Play with the laser pointer (+4)
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="care" value="s-2">
      Give your pet a pillow (+2)
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="care" value="s-4">
      Give your pet a cardboard box (+4)
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="care" value="n-0" checked>
      Do Nothing (0)
    </label>
  </div>
  <button type="submit" name="careSubmit">Take care of your pet!</button>
</form>
@*

//give pillow
//give pet tree
*@
